/* Start Global Rules  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --main-color-blue: #19c8fa;
  --sec-padding: 100px 0;
}
:root {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 786px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
h2 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: normal;
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translatex(-50%);
  margin-bottom: 50px;
  padding-bottom: 30px;
}
h2::before {
  content: "";
  width: 120px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #000;
  top: 100%;
}
h2::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50% , -50%);
  background-color: #fff;
  border: 2px solid #000;
  top: 100%;
}
h2 + p {
  max-width: 500px;
  text-align: center;
  line-height: 1.8;
  position: relative;
  left: 50%;
  transform: translatex(-50%);
  color: #777;
  margin-bottom: 100px;
}
.ground-black60::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -3;
}
/* End Global Rules  */
/* Start Home */
.home {
  height: 100vh;
  background-image: url("../images/landing.jpg");
  background-size: cover;
  position: relative;
  z-index: 1;
  color: #fff;
  position: relative;
}
.home header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  border-bottom: 1px solid #a2a2a2;
  position: relative;
}

.home header img {
  height: 40px;
}
.home header ul {
  display: inline-flex;
  margin-right: 30px;
  margin-left: auto;
  text-align: center;
  position: relative;
}
.home header ul li {
  height: 100px;
  box-sizing: content-box;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}
.home header ul li:first-child {
  color: var(--main-color-blue);
  border-color: var(--main-color-blue);
}
.home header ul li:hover {
  color: var(--main-color-blue);
  border-color: var(--main-color-blue);
}
.home header ul li a {
  padding:0 10px;
  width: 100%;
  color: inherit;
  text-decoration: none;
  font-size: 15px;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.home header i:nth-of-type(2) {
  font-size: 21px;
  border-left: 1px solid #fff;
  padding: 5px 0 5px 20px;
}
.home header i:first-of-type {
  font-size: 21px;
  padding: 50px 15px 50px;
  margin-left: auto;
  margin-right: 15px;
  visibility: hidden;
}
@media (max-width: 767px) {
  .home header ul {
    display: none;
    width: calc(100% + 30px);
    flex-direction: column;
    margin: 0;
    position: absolute;
    left: -15px;
    top: 100px;
    background-color: rgb(0 0 0 / 0.5);
  }
  .home header i:first-of-type:hover + ul {
    display: flex;
  }
  .home header i:first-of-type {
    visibility: visible;
  }
  .home header ul:hover {
    display: flex;
  }
  .home header ul li{
    padding: 10px;
    width: 100%;
    text-align: start;
    box-sizing: border-box;
    height: initial;
  }
  .home header ul li a {
    transform: translateY(0);
  }
}
.home .intro {
  background-color: #19c8fa80;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 60px 60px 60px 50px;
  z-index: -2;
}
.home .intro::before {
  background-color: rgb(0 0 0 / 0.3);
}
.home .intro .text {
  max-width: 500px;
  margin-left: auto;
  z-index: 1;
}
.home .intro .text h1 {
  font-weight: unset;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 45px;
}
.home .intro .text p {
  line-height: 1.8;
}
@media (max-width: 767px) {
  .home .intro {
    width: 100%;
  }
  .home .intro .text{
    margin: 0;
    max-width: 100%;
  }
}
.home .container > i:first-of-type {
  position: absolute;
  top: 50%;
  font-size: 30px;
  transform: translateY(-50%);
  left: 20px;
}
.home .container > i:nth-of-type(2) {
  position: absolute;
  top: 50%;
  font-size: 30px;
  transform: translateY(-50%);
  right: 20px;
}
@media (max-width: 767px) {
  .home .container > i {
    display: none;
  }
}
.home .polb {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
}
.home .polb li {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.home .polb li:nth-child(2) {
  background-color: var(--main-color-blue);
  border-color: var(--main-color-blue);
}
/* End Home */
/* start serveces */
.services {
  padding: var(--sec-padding);
}
.services .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 60px 30px
}
.services .content .item {
  display: flex;
  
}
.services .content .item i {
  flex-basis: 80px;
  font-size: 45px;
}
.services .content .item .text {
  flex: 1;
}
.services .content .item .text h3{
  color: var(--main-color-blue);
  margin-bottom: 35px;
}
.services .content .item .text p{
  color: #777;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .services .content {
    grid-template-columns: 1fr;
  }
  .services .content .item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
/* end serveces */
/* end features */
.features {
  padding: var(--sec-padding);
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.features .container {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.features img {
position: relative;
bottom: -150px;
}
.features .text {
  position: absolute;
  z-index: 1;
  
  width: 50%;
  background-color: #19c8fa80;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px;
}
.features .text::before {
  background-color: rgba(0, 0, 0, 0.3);
}
.features .text p {
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 50px
}
.features .text li {
  margin-bottom: 30px;
}
.features .text li i {
  margin-right: 15px;
}
@media (max-width: 767px) {
  .features img {
    display: none;
  }
  .features .text {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transform: unset;
  }
  .features .container {
    padding: 0;
  }
}
/* end features */

